//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de fuentes
$poppins: Poppins;
$playfair: Playfair Display;

//variables de colores
$black: #313131;
$brown: #9B9A78;
$silver: #909090;
$white: #FFFFFF;

